<!-- tämä meili lähtee lainapyynnön tekijälle kun lainaaja itse peruu pyynnön, jota omistaja ei ole vielä hyväksynyt -->

h1  Lainapyyntö peruutettu item.name start.date - end.date

p  Hei loaner.firstname
p  Seuraava lainapyyntösi on peruttu, eikä sinua veloiteta.
ul
  li  Tavara:[tavaran nimi]
  li  Laina-aika:[laina pvm-väli]
  li  Kokonaishinta:  [hinta_sis_palvelumaksut]
  li  Pyynnön tunniste: [lainapyynnön_id]

p|Mukavia lainauskokemuksia toivottaa,
  |Lainatavara tiimi