<!-- tämä meili lähtee tavaran omistajalle kun lainaaja peruu pyynnön, jota omistaja ei ole vielä hyväksynyt -->

h1  Lainapyyntö peruutettu item.name start.date - end.date
p  Hei owner.firstname
p  Seuraava lainapyyntö on peruttu. Muista olla ensi kerralla nopeampi, niin et menetä vuokratuloja.
ul
  li  Tavara:[tavaran nimi]
  li  Laina-aika:[laina pvm]
  li  Summa, joka jää saamatta: total.price
  li  Pyynnön tunniste: transaction.id
p|Mukavia lainauskokemuksia toivottaa,
 |Lainatavara tiimi