<!-- tämä meili lähtee tavaran omistajalle kun omistaja ei hyväksy pyyntöä -->

h1 Hylkäsit lainapyynnön "[tavaran nimi]" [laina pvm]

p  Hei owner.firstname
p  Hylkäsit seuraavan lainapyynnön. 
ul
  li  Tavara:[tavaran nimi]
  li  Laina-aika:[laina pvm]
  li  Summa, joka jää saamatta:  [hinta_ilman_palvelumaksua]
  li  Pyynnön tunniste: [lainapyynnön_id]

p  Muista pitää tavaran kalenteri mahdollisimman reaaliaikaisena ja merkitä sinne kun tavara on varattu palvelumme ulkopuolelle, jotta lainaajat eivät joudu pettymään.

p|Mukavia lainauskokemuksia toivottaa,
  |Lainatavara tiimi