<!-- tämä meili lähtee tavaran lainaajalle kun omistaja ei hyväksy pyyntöä -->

h1  Lainapyyntöäsi ei hyväksytty "[tavaran nimi] " [laina pvm]

p  Hei [lainaajan etunimi]
p  Seuraava lainapyyntöäsi ei valitettavasti hyväksytty. 
ul
  li  Tavara:[tavaran nimi]
  li  Laina-aika:[laina pvm]
  li  Kokonaishinta: [hinta_sis_palvelumaksun]
  li  Pyynnön tunniste:[lainapyynnön_id]
p  Suosittelemme sinua varmistamaan, että profiilisi on päivitetty. Luottamuksen puute lainaajiin on suurin syy pyyntöjen hylkäämisiin.
p|Mukavia lainauskokemuksia toivottaa,
  |Lainatavara tiimi