<!-- tämä meili lähtee viestin vastaanottajalle -->

h1  Uusi viesti liittyen lainapyyntöön: "[tavaran nimi] " [laina pvm]
p  Hei [etuimi]
p  Seuraava lainapyyntöön on tullut uusi viesti. 
ul
  li  Tavara:[tavaran nimi]
  li  Laina-aika:[laina pvm]
  li  Pyynnön tunniste: [lainapyynnön_id]
p  Viestin lähettäjä: [lähettäjän etunimi]
p  Viesti: [viestin sisältö]
p  Vastaa tarvittaessa viestiin täällä: [linkki keskusteluun]
p|Mukavia lainauskokemuksia toivottaa,
  |Lainatavara tiimi