h1  Lainapyyntösi, #{item.name}
p  Hei #{loaner.firstname}
p  Teit lainapyynnön seuraavilla tiedoilla:
ul
  li  Tavara: #{item.name}
  li  Laina-aika: #{transaction.from} - #{transaction.to}
  li  Maksettava hinta: #{transaction.totalPrice}
  li  Pyynnön tunniste: #{transaction.id}
p  Saat ilmoituksen kun omistaja hyväksyy / hylkää tai kommentoi lainapyyntöäsi- 
p  Siirry lainapyyntöön tästä:
  a(href="https://lainatavara.fi/user.html") Omat lainapyynnöt
p  Tässä tiedot, jotka tavarallasi oli lainapyyntöä tehdessä. Muista lunastaa lupauksesi:
ul
  li  Tavaran nimi: #{item.name}
  li  Kuvaus: #{item.description}
  li  Brändi: #{item.brand}	
  // looppii loppii  li  Mukana tulevat lisävarusteet: item.accesories
  li  Peruutusehto: #{item.cancelOption}
