h1  Uusi lainapyyntö, reagoi nopeasti!
p  #{owner.firstname} sinulle on tullut uusi lainapyyntö seuraavilla tiedoilla:
ul
  li  Tavara: #{item.name}
  li  Laina-aika: #{transaction.from} - #{transaction.to}
  li  Sinulle maksettava hinta: #{transaction.totalPrice}
  li  Pyynnön tunniste: #{transaction.id}
p|Siirry 
  a(href="https://lainatavara.fi") lainatavara.fi 
  |-palveluun ja reagoi pyyntöön. Tämä kannattaa tehdä mahdollisimman nopeasti jotta lainaaja ei lainaa tavaraa joltain muulta.
p Siirry lainapyyntöihin tästä:
p 
  a(href="http://localhost:1337/request.html") Lainapyyntö
p  Tässä tiedot, jotka tavarallasi oli lainapyyntöä tehdessä. Muista lunastaa lupauksesi:
ul
  li  Tavaran nimi: #{item.name}
  li  Kuvaus: #{item.description}
  li  Brändi: #{item.brand}
  // tämä vaatii loopin  li  Mukana tulevat lisävarusteet: item.accesories
  li  Peruutusehto: #{item.cancelOption}
