h1  Lainapyyntö hyväksytty item.name start.date - end.date
p  Hei, loaner.firstName
p  Lainapyyntösi on hyväksytty. Tässä vielä tiedot lainasta:
ul
  li  Tavara: item.name
  li  Laina-aika: startdate - enddate
  li  Hinta: total.price
  li  Pyynnön tunniste: transaction.id
p  Voit keskustella tavaran omistajan kanssa ja sopia noutoajasta ja -paikasta palvelussamme:
  a(href="https://lainatavara.fi/user")
p  Muista aina käyttää tavaraa huolellisesti ja palauta se mahdollisimman hyvässä kunnossa.
p|Mukavia lainauskokemuksia toivottaa,
 |Lainatavara tiimi
