
h1  Lainapyyntö hyväksytty item.name start.date - end.date
p  Hei, owner.firstName
p  Olet hyväksynyt lainapyynnön seuraavilla tiedoilla:
ul
  li  Tavara: item.name
  li  Laina-aika: startdate - enddate
  li  Sinulle maksettava hinta: total.price
  li  Pyynnön tunniste: transaction.id
  li  Peruutusehto: [peruutusehto]
p  Jos luovutat tavaran itse: Voit keskustella tavaran lainaajan kanssa ja sopia noutoajasta ja -paikasta palvelussamme.
  a(href="https://lainatavara.fi/request")
p  Jos Lainatavara.fi hoitaa varastoinnin: Sinun ei tarvitse tehdä mitään. Me hoidamme loput puolestasi.
p|Mukavia lainauskokemuksia toivottaa,
 |Lainatavara tiimi
