<!-- tämä meili lähtee tavaran lainaajalle tavaran palautuspäivänä-->

h1  Arvostele laina "[tavaran nimi]" [laina pvm]
p  Hei loaner.firstname
p  Nyt on aika viimeistellä lainatapahtuma ja arvostella tavara sekä tavaran omistaja.
p  Arvosteleminen on äärimmäisen tärkeää, joten älä missään nimessä jätä sitä tekemättä. 
ul
  li  Tavara:[tavaran nimi]
  li  Laina-aika:[laina pvm]
p  Tee arvostelu täällä:
  a(href="https://lainatavara.fi/user")

p|Mukavia lainauskokemuksia toivottaa,
 |Lainatavara tiimi