body
	h1
		Lainatavara.fi - Tervetuloa palveluumme
	p
		Tervetuloa Lainatavara.fi käyttäjäksi!
	if user_firstname
		p
			Moi #{user_firstname} ja kiitos kun rekisteröidyit palveluumme. Toivottavasti edessäsi on useita hyviä lainauskokemuksia, sekä tavaranlainaajana, että omistajana.
	else
		p
			Kiitos kun rekisteröidyit palveluumme. Toivottavasti edessäsi on useita hyviä lainauskokemuksia, sekä tavaranlainaajana, että omistajana.

	p
		Vahvista vielä sähköpostiosoitteesi klikkaamalla alla olevaa linkkiä: 
		a(href=vahvistuslinkki) Vahvistuslinkki