@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700|Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body{
	font-family: 'Open Sans';
}

p{
	font-size: 18px;
}

a{
	color: #6AB3B0;
}

h1{

}

h2{
	font-size: 48px;
	margin-bottom: 30px;
}

h3{
	font-size: 40px;
}

h4{
	font-size: 36px;
	margin-top: 15px;
	margin-bottom: 15px;
}

h5{
	font-size: 23px;
}

.fa-star{
	color: #6AB3B0;
}

header{
	border-bottom: solid 1px #eee;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: rgb(0,187,183);
}

.nav>li>a{
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	font-weight: 600;
}

.nav>li>a:hover{
	color: #6AB3B0;
	background-color: #fff;
}

section{
	padding-top: 50px;
	padding-bottom: 50px;
}

.popular-categories{
	padding-top: 0px;
}

footer{
	padding-top: 50px;
	padding-bottom: 15px; 
	background-color: #F2F2F2;
}

.result{
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
}

ul{
	list-style-type: none;
	padding-left: 0px;
}

button{
	outline: none;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
#tags,
select:focus,
textarea {
  font-size: 16px;
}

.index-search-form ::-webkit-input-placeholder {
   font-size: 14px;
}

.index-search-form :-moz-placeholder { /* Firefox 18- */
      font-size: 14px;
}

.index-search-form ::-moz-placeholder {  /* Firefox 19+ */
      font-size: 14px;
}

.index-search-form :-ms-input-placeholder {
      font-size: 14px;
}

.form-note{
	font-size: 14px;
	font-style: italic;
}

.border-btm{
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: solid 1px #e2e2e2;
}

.footer-top{
	padding-bottom: 15px;
	border-bottom: solid 1px #e2e2e2;
}

.footer-middle{
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: solid 1px #e2e2e2;	
}

.footer-middle .fa{
	font-size: 25px;
	margin-right: 15px;
	color: #282828;
	margin-top: 15px;
}

.footer-bottom{
	padding-top: 25px;
}

.footer-bottom p{
	font-size: 14px;
	font-style: italic;
}

.btn-red{
	background-color: #ff4562;
	padding: 15px 35px;
	border-radius: 2px;
	border: none;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.btn-red:hover{
	color: #fff;
	background-color: rgba(255, 69, 98, 0.8);
	text-decoration: none;
}

.btn-green{
	background-color: #6AB3B0;
	color: #fff;
	padding: 14px 15px;	
	cursor: pointer;
}

.btn-block{
	display: block;
}

.btn-green:hover{
	background-color: rgba(106, 179, 176, 0.8);
	color: #fff;
}

img{
	max-width: 100%;
	height: auto;
}

select{
	appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../icons/dropdown-red.svg);
    padding: 10px 45px 10px 15px;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    border: solid 1px #282828;
    background-color: #fff;
    border-radius: 2px;
    color: #282828;
    font-size: 18px;
    min-width: 250px;
}

input,
textarea{
    padding: 10px 15px;
    border: solid 1px #282828;
    background-color: #fff;
    border-radius: 2px;
    color: #282828;
    font-size: 18px;
/*    min-width: 250px;*/
}

.header-logo img{
	width: 200px;
	height: auto;
	margin-top: 10px;
}

#ui-datepicker-div{
	z-index: 1100 !important;
}

.ui-state-default, .ui-widget-content .ui-state-default{
	border: 1px solid #e2e2e2 !important;
    background: #fff !important;
    font-weight: normal !important;
    color: #333 !important;
}

.ui-state-highlight, 
.ui-widget-content .ui-state-highlight{
	background-color: #6AB3B0 !important;
	border: solid 1px #fff !important;
	color: #fff !important;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover{
	background-color: #6AB3B0 !important;
	border: solid 1px #fff !important;
	color: #fff !important;
}

.ui-widget-header{
	background-color: #6AB3B0 !important;
	border: solid 1px #fff !important;
	color: #fff !important;
}

.ui-widget-header .ui-icon{
	background-image: url(/icons/arrow-left.png) !important;
}

.ui-datepicker .ui-datepicker-next span{
	background-image: url(/icons/arrow-right.png) !important;	
}

.ui-icon-circle-triangle-w,
.ui-icon-circle-triangle-e{
    background-position: inherit !important;
    background-size: 16px;
}

.ui-datepicker-header .ui-state-hover{
	border: none !important;
}

#startdate,
#enddate,
#startdate-modal,
#enddate-modal{
	background-image: url(../icons/calendar-icon-black.svg);
	background-repeat: no-repeat;
	background-position: 90% 6px;
	cursor: pointer;
}

.dropdown{
	border: solid 1px #282828;
    background-color: #fff;
    border-radius: 2px;
    color: #282828;
    font-size: 18px;
}

.dropdown img{
	padding-left: 15px;
}

.how-it-works{
	background-image: url(/img/roller-bg.jpg);
	color: #fff;
	padding-bottom: 115px;
    padding-top: 75px;
    background-repeat: no-repeat;
}

.tight-container{
	padding-left: 150px;
	padding-right: 150px;
}

.side-menu li{
	padding: 15px 25px;
	border-left: solid 1px #6AB3B0;
	border-right: solid 1px #6AB3B0;
	border-bottom: solid 1px #6AB3B0;
}

/*.side-menu li:first-child,
.side-menu li:nth-child(2),
.side-menu li:nth-child(3),
.side-menu li:nth-child(4),
.side-menu li:nth-child(5),
.side-menu li:nth-child(6){
	border-bottom: none;
}*/

.side-menu li:first-child{
	border-top: solid 1px #6AB3B0;
}

.side-menu .active{
	background-color: #6AB3B0;
}

.side-menu .active a{
	color: #fff;
}

input:focus{
	border: solid 2px #6ab3b0;
	outline: none;
}

.floating{
	position: fixed;
}

.form-group {
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}

.form-box{
	border: solid 1px #9B9B9B;
	display: inline-block;
	width: 100%;
	padding: 15px 15px 30px 15px;
	margin-bottom: 30px;
}

.nav>li {
    position: relative;
    display: inherit;
    background-color: rgb(0,187,183);
}

.sub-header{
	box-shadow: 0 3px 3px rgba(50,50,50,0.6);
	position: relative;
    z-index: 100;
}

.sub-header .nav>li{
	background-color: rgba(255,255,255,1.0);
}

.sub-header .nav a{
	font-size: 14px;
	color: #3B4144;
	font-weight: 400;
}

.nav>.loggedUser,
.nav>.adminUser{
	display: none;
}


/*----ITEM BOXES----*/

.item-info{
	border-left: solid 1px #e2e2e2; 
	border-right: solid 1px #e2e2e2;
	border-bottom: solid 1px #e2e2e2;
	padding-bottom: 35px;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
	display: inline-block;
	width: 100%;
	margin-bottom: 30px;
	background-color: #fff;
}

.index-item-img{
	background-color: #fff
}

.item-specs{
	margin-top: 5px;
	margin-bottom: 15px;
}

.item-info h4{
	margin-bottom: 5px;
	font-size: 20px;
}

.item-info p{
	font-size: 14px;
	margin-bottom: 15px;
}

.profile-img{
	max-width: 100%;
    height: auto;
    position: relative;
    z-index: 100;
    margin-top: -30px;
}

.modal-dialog{
	width: 500px;
}

.modal-header{
	border-bottom: none;
}

.btn-modal{
	width: 100%;
	display: inline-block;
	margin-bottom: 10px;
	padding: 15px;
}

.btn-email,
.btn-phone{
	border: solid 1px #282828;
	color: #282828;
}

.btn-email:hover,
.btn-phone:hover{
	text-decoration: none;
	color: #282828;
}

.btn-fb{
	background-color: #3A5998;
	color: #fff;
}

.btn-fb:hover{
	text-decoration: none;
	color: #fff;
}

.btn-modal img,
.btn-modal .fa{
	padding-right: 15px;
	font-size: 18px;
}

.btn-google{
	background-color: #fff;
	color: #282828;
	border: solid 1px #282828;
}

.btn-google:hover{
	text-decoration: none;
	color: #282828;
	border: solid 1px #282828;
}

.btn-linkedin{
	background-color: #007EBB;
	color: #fff;
}

.btn-linkedin:hover{
	text-decoration: none;
	color: #fff;
}

.modal-body{
	padding: 15px 45px;
}

.modal-body form{
	margin-top: 15px;
}

.modal-body ::-webkit-input-placeholder{
	text-align: center;
	font-size: 14px;
}

.modal-body ::-moz-placeholder{
	text-align: center;
	font-size: 14px;
}

.modal-body input{
	width: 100%;
	border: solid 1px #282828;
	margin-bottom: 15px;
}
/*---INDEX----*/
.cover{
	padding-top: 150px;
	padding-bottom: 55px;
	background-image: url(/img/cover-bg-2.jpg);
	position: relative;
	background-repeat: no-repeat;
}

.cover{
	color: #fff;
	font-weight: 500;
}

.cover h1{
	font-size: 50px;
	font-weight: 300;
}

.cover p{
	margin-bottom: 45px;
}

.cahnging-world{
	background-color: rgb(0,187,183);
	color: #fff;
}

.how-it-works h3,
.cahnging-world h3{
	font-size: 20px;
}

.how-it-works p,
.cahnging-world p{
	font-size: 14px;
}

.cahnging-world p,
.cahnging-world h3,
.cahnging-world h2{
	color: #282828;
}

.how-it-works .p,
.cahnging-world .p{
	margin-bottom: 30px;
}

.index-search{
	background-color: rgba(0,187,183,0.9);
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 55px;
}

.search-section{
	margin-top: -200px;
    position: relative;
}

.joinform input{
	width: 25%;
	margin-bottom: 4px;
}

.join{
	border-bottom: solid 1px #e2e2e2;
	border-top: solid 1px #e2e2e2;
}

.join p{
	margin-bottom: 30px;
	margin-top: 30px;
}

.index-search{
	border-bottom: solid 1px #00bbb7;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,187,183,0.5);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,187,183,0.5);
    box-shadow: 0px 3px 3px 0px rgba(0,187,183,0.5);
}


.search-bar,
.popular-items{
	border-bottom: solid 1px #e2e2e2;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.11);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.11);
}

.index-search input,
.index-search select{
	margin-right: 15px;
}

.popular-categories ul{
	list-style-type: decimal;
	padding-left: 30px;
}

.popular-categories h3{
	font-size: 28px;
	margin-bottom: 35px;
}

.popular-categories li{
	margin-bottom: 10px;
	color: rgb(0,187,183);
	font-size: 25px;
	font-weight: 600;
	padding-left: 15px;
	font-family: inherit;
}

.popular-categories a{
	text-decoration: none;
	color: rgb(0,187,183);
}

.popular-categories a:hover{
	color: #282828;
}

.popular-box{
	background-color: #f4f4f4;
	margin-top: 15px;
}

.popular-categories-results{
	display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.how-link{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700; 
}

.how-link:hover{
	color: #fff;
}

/*---USER----*/

.detail-box{
	border-right: solid 1px #eee;
}

.detail-box:last-child{
	border-right: none;
}

.user-item{
	padding-top: 15px;
	padding-bottom: 15px;
}

.user-tile{
	border: solid 1px #e2e2e2;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.user h2{
	margin-bottom: 15px;
	font-size: 34px;
}

.how-to-box{
	border: solid 1px rgba(151, 151, 151, 0.3);
	padding: 50px;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.11);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.11);
}

.how-to{
	padding-left: 100px;
	padding-right: 100px;
}

.how-to-box ul{
	list-style-type: initial;
	display: block;
    margin: 0 auto;
    width: 45%;
    margin-bottom: 50px;
    font-size: 18px;
    margin-top: 35px;
}

.how-to-box .btn,
.reserve-box .btn{
	width: 100%
}

.secure{
	background-color: #F8F8F8;
}

/*----SEARCH RESULTS----*/

.price-box{
	display: block;
    position: absolute;
    z-index: 100;
    background-color: rgba(255,255,255,0.8);
    padding: 8px;
    border: solid 1px #e2e2e2;
    top: 147px;
}

.price-box span{
	letter-spacing: 2px;
}

.search-bar{
	margin-bottom: 30px;
	padding-bottom: 30px;
}

.results input,
.results select{
	width: 100%
}

.ratingCount{
	font-size: 14px;
	padding-left: 15px;
}

.results .rating-md,
.popular-items .rating-md{
	font-size: 18px;
    margin-top: -10px;
    margin-left: -3px;
    width: 50%;
    display: inline-block;
    margin-bottom: 15px;
}

.results .btn-red,
.popular-items .btn-red{
	display: block;
	text-align: center;
}

.results .rating-stars span{
	cursor: default;
}

.template {
	display: none;
}
/*----EDIT PROFILE ----*/

.edit-profile input,
.edit-profile select,
.edit-profile textarea,
.new-item input,
.new-item select,
.new-item textarea{
	width: 100%;
} 

/*---- Single Item ----*/

.description,
.basic-info,
.item-prices,
.ratings,
.gears,
.area{
	border-bottom: solid 1px #e2e2e2;
	padding-bottom: 15px;
	padding-top: 15px;
}

.single-item h2{
	font-size: 36px;
}

.single-item h3{
	font-size: 25px;
}

.single-item h2,
.single-item h3{
	margin: 0px;
}

.single-item .item-img{
	border: none;
	background-size: cover !important;
}

.area h3{
	margin-bottom: 30px;
}

.ratings h2{
	margin-bottom: 15px;
}

.basic-info p,
.item-prices p,
.description span{
	font-size: 14px;
}

.overall .fa{
	font-size: 30px;
}

.sub-rate .fa{
	font-size: 20px;
}

.overall,
.sub-rate{
	margin-bottom: 15px;
}

.drop-menu{
	border: none;
}

.dropdown-menu>li>a{
	padding: 10px 20px;
}

.dropdown-menu{
	border-radius: 0px;
}

.res-buttons{
	padding-top: 15px;
}

.res-buttons .btn{
	width: 100%;
}

.reserve p{
	font-size: 14px;
}

.res-buttons .btn-green{
	margin-right: 15px;
}

.rewieving textarea{
	width: 100%;
	height: 130px;
}

.reserve,
.rewieving{
	padding-top: 30px;
	padding-bottom: 30px;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.11);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.11);
    border: solid 1px #e2e2e2;
    margin-bottom: 30px;
}

.requests .side-menu{
	margin-top: 70px;
}

.highlight-price{
	background-color: rgb(0,187,183);
	padding-top: 15px;
	padding-bottom: 15px;
	color: #fff;
}

.highlight-price label{
	font-size: 20px;
}

.highlight-price input{
	border: solid 1px #fff;
}

.radio input[type="radio"]{
	margin-left: -25px;
}

.radio label{
	max-width: 50%;
}

#promo {
	height: 434px;
	width: 100%;
	background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    -webkit-animation-name: keyframe_w18mkj !important;
    animation-name: keyframe_w18mkj !important;
    -webkit-animation-duration: 300ms !important;
    animation-duration: 300ms !important;
    -webkit-animation-timing-function: ease-out !important;
    animation-timing-function: ease-out !important;
    background-size: cover !important;
    background-color: #e2e2e2;
}

.item-img{
	height: 150px;
	width: 100%;
	background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    -webkit-animation-name: keyframe_w18mkj !important;
    animation-name: keyframe_w18mkj !important;
    -webkit-animation-duration: 300ms !important;
    animation-duration: 300ms !important;
    -webkit-animation-timing-function: ease-out !important;
    animation-timing-function: ease-out !important;
    background-size: contain !important;
    border: solid 1px #e2e2e2;
}

.item-images,
.item-name{
	padding-top: 15px;
    padding-bottom: 15px;
}

.item-name{
	border-bottom: solid 1px #e2e2e2;
}

.reserve-box #startdate,
.reserve-box #enddate{
	min-width: 0px;
	padding: 10px 5px;
	width: 100%;
}


.reserve-box{
	border: solid 1px #e2e2e2;
	padding: 15px;
	right: 40px;
	background-color: #fff;
    z-index: 100;
}

.reserve-box .ratings{
	display: block;
    width: 55%;
    margin: 0 auto;
    border-bottom: none;
    font-size: 18px;
}

.reserve-box .reserve-price{
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: solid 1px #e2e2e2;
	font-size: 22px;
}

.reserve-single-price{
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 22px;
	border-top: solid 1px #e2e2e2;
}

.reserve-form{
	padding-top: 15px;
}

.reserve h5{
	font-size: 17px;
	font-weight: 700;
}

.reserve .message{
	width: 100%;
	border-top: solid 1px #e2e2e2;
	border-bottom: solid 1px #e2e2e2; 
	border-left: none;
	border-right: none;
	margin-top: 15px;
}

.reserve textarea{
	border: none;
	width: 100%;
}

.pricing-last{
	float: right;
}

.pricing-row{
	border-top: solid 1px #e2e2e2;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid 1px #e2e2e2;
    font-size: 18px;
}

.pricing-row-last{
	border-top: none;
}

.item-edit-box .buttons{
	padding-top: 15px;
}

.item-edit-box .btn{
	margin-bottom: 15px;
}

.own-items .item-edit{
	margin-bottom: 30px;
	border: solid 1px #e2e2e2;
	padding-bottom: 30px;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.11);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.11);
}

.own-items .result-img{
	border: none;
}

.own-items .item-edit:last-child{
	border-bottom: none;
}

.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  margin-bottom: 15px;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.open-rate {
	padding-top: 30px;
	padding-bottom: 45px;
	border-bottom: solid 1px #e2e2e2;
	margin-bottom: 30px;
}

.open-rate:last-child {
	border-bottom: none;
}

.form-box img[src="undefined"]{
	display: none;
}

.no-padding{
	padding-left: 0px !important;
	padding-right: 0px !important
}

.radio input[type=radio]{
	margin-top: 2px;
}

.result-img{
	height: 195px;
	width: 100%;
	background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    -webkit-animation-name: keyframe_w18mkj !important;
    animation-name: keyframe_w18mkj !important;
    -webkit-animation-duration: 300ms !important;
    animation-duration: 300ms !important;
    -webkit-animation-timing-function: ease-out !important;
    animation-timing-function: ease-out !important;
    background-size: cover !important;
    background-color: #e2e2e2;
    border: solid 1px #e2e2e2;
    border-bottom: none;
}

.popular-items{
	background-image: -ms-linear-gradient(top, #FFF 50%, #F2F2F2 100%);
	background-image: -moz-linear-gradient(top, #FFF 50%, #F2F2F2 100%);
	background-image: -o-linear-gradient(top, #FFF 50%, #F2F2F2 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50, #FFF), color-stop(100, #F2F2F2));
	background-image: -webkit-linear-gradient(top, #CFCFCF 0%, #FFFFFF 100%);
	background-image: linear-gradient(to bottom, #FFF 50%, #F2F2F2 100%);
    background-repeat: no-repeat;
}

.mobile-search{
		display: block;
    	width: 100%;
    	border: solid 1px #282828;
    	padding: 10px;
    	margin: 0 auto 15px auto;
    	border-radius: 3px;
}

.mobile-search .fa{
	margin-right: 15px;
}

#searchModal .modal-header{
	padding: 5px 10px 0px 15px;
}

#searchModal .modal-body form{
	margin-top: 0px;
}

#searchModal .btn-red{
	width: 100%;
}

.btn-reserve-mobile{
	position: fixed;
    z-index: 100;
    bottom: 0;
    text-align: center;
    width: 92%;
}

.confirm-form input{
	width: 100%;
}

.confirm-form select{
	margin-bottom: 15px;
}

.user .profile-img,
.edit-item .profile-img{
	margin-top: 0px;
	max-width: 75px;
	height: auto;
}

.requests .profile-img{
	max-width: 75px;
	margin-top: 0px;
}

.balance-box{
	border: solid 1px #e2e2e2;
	padding: 30px 30px 30px 30px;
	margin-top: 30px;
}

.sub-ratings .rating-md{
	font-size: 18px;
}

.reserve-form .ratings .rating-count{
	padding-left: 20px;
	font-size: 14px;
}

.rattingsia{
	font-size: 14px;
	padding: 5px;
}

.cahnging-world img,
.how-it-works img{
	width: 100px;
}

.results .container{
	width: 100%;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
	width: 100%;
    min-width: 0px;
}

.review-tabs{
	width: 100%;
}

.review-tabs li{
	display: inline-block;
	border: solid 1px #6AB3B0;
}

.confirm .reserve-box{
	right: 0;
}

.confirm textarea{
	width: 100%;
}

.price-box .price,
.price-box .currency{
	font-weight: 700;
}

.category-boxes a{
	color: #fff;
	font-size: 16px;
}

.category-boxes h4{
	font-size: 30px;
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
    height: 195px;
	width: 100%;
	background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    -webkit-animation-name: keyframe_w18mkj !important;
    animation-name: keyframe_w18mkj !important;
    -webkit-animation-duration: 300ms !important;
    animation-duration: 300ms !important;
    -webkit-animation-timing-function: ease-out !important;
    animation-timing-function: ease-out !important;
    background-size: cover !important;
    padding-top: 68px;
}

.category-bg-1{
	background-image: url('/img/tyokalut_remontointi.jpg');
}

.category-bg-2{
	background-image: url('/img/retkeily_vaellus.jpg');
}

.category-bg-3{
	background-image: url('/img/urheiluvalineet.jpg');
}

.category-bg-4{
	background-image: url('/img/ajoneuvot_perakarryt.jpg');
}



@media (min-width: 769px){
	.mobile-search{
		display: none;
	}

	.mobile-reserve{
		display: none;
	}

	.hidden-md-up{
		display: none;
	}

}

@media (max-width: 769px){
	.how-it-works{
		background-image: none;
		background-color: #f29346;
		padding-top: 50px;
	}

	.index-search input{
		margin-bottom: 15px;
		margin-right: 0px;
		width: 100%;
	}

	.index-search{
		padding-left: 10px;
    	padding-right: 10px;
    	margin-right: 5px;
    	margin-left: 5px;
    	margin-bottom: 30px;
    	margin-top: 30px;
    	padding-top: 15px;
   		padding-bottom: 13px;
	}

	.index-search-form button{
		display: block;
		width: 100%;
	}

	.index-search-form #startdate,
	.index-search-form #enddate{
		width: 49%;
	}

	.index-search-form ::-webkit-input-placeholder {
   		font-size: 14px;
   		font-weight: 300;
	}

	.index-search-form :-moz-placeholder { /* Firefox 18- */
      	font-size: 14px;
      	font-weight: 300;
	}

	.index-search-form ::-moz-placeholder {  /* Firefox 19+ */
      	font-size: 14px;
      	font-weight: 300;
	}

	.index-search-form :-ms-input-placeholder {
      	font-size: 14px;
      	font-weight: 300;
	}

	.navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }

    .res-buttons .btn{
		width: 100%;
		margin-top: 15px;
	}

}

@media (max-width: 768px){
	
	input{
		padding: 10px;
	}

	section {
    padding-top: 30px;
    padding-bottom: 50px;
	}

	.new-item h3,
	.edit-profile h3{
		font-size: 30px;
	}

	.new-item label,
	.edit-profile label{
		font-size: 18px;
	}

	.radio input[type="radio"],
	.checkbox input[type="checkbox"]{
		display: inline-block;
    	width: 15px;
    	right: 0;
	}

	.radio label,
	.checkbox label{
		max-width: 80%;
		padding-left: 5px;
	}

	.cahnging-world img,
	.how-it-works img{
		margin-top: 30px;
		width: 100px;
	}

	.btn-center-sm{
		display: block;
		margin: 0 auto;
	}

	.floating{
	position: relative;
	}

	.header-logo{
		margin-left: 15px;
	}

	.navbar-collapse{
		margin-top: 10px;
		border-top: solid 1px #e2e2e2;
	}

	.how-to{
		padding-right: 0px;
		padding-left: 0px;
	}

	.how-to-box{
		margin-bottom: 15px;
	}

	.how-to-box ul{
		padding-left: 30px;
	}

	.modal-dialog {
    width: 100%;
	}

	.form-box{
		padding: 15px 0px 30px 0px;
	}

	.form-box img{
		display: block;
    	margin: 0 auto;
    	padding-top: 15px;
	}

	.no-padding-mobile{
		padding-left: 0px !important;
		padding-right: 0px !important; 
	}

	.not-active{
		pointer-events: none;
	}

	.radio input[type=radio]{
		margin-top: 4px;
	}

	.tight-container{
		padding-left: 15px;
		padding-right: 15px;
	}

	.reserve-box{
		display: none;
	}

	.hidden-sm-down{
		display: none;
	}

	.cover{
		padding-top: 30px;
    	padding-bottom: 0px;
    	background-image: none;
    	position: relative;
    	background-repeat: no-repeat;
    	color: #282828;
    	font-weight: 700;
    	border-bottom: solid 1px #e2e2e2;
	}

	.how-link{
		position: relative;
    	bottom: 15px;
    	right: 0;
    	top: 15px;
    	color: #282828;
    	text-decoration: underline;
	}

	.cover h1{
		font-size: 35px;
		font-weight: 300;
		margin-top: 0px;
    	margin-bottom: 0px;
	}

	.how-it-works h2,
	.cahnging-world h2,
	.popular-categories h2,
	.popular-items h2,
	.join h2,
	.for-seo h2{
		font-size: 30px;
    	margin-bottom: 30px;
    	font-weight: 600;
	}

	.joinform input {
    	width: 100%;
    	margin-bottom: 0px;
	}

	.joinform .btn{
		margin-top: 15px;
	}

	#promo{
		display: none;
	}

	.sub-ratings .no-padding-mobile{
		margin-top: 10px;
	}
}

@media (max-width: 480px){
	input,
	textarea{
		width: 100%;
	}

	.index-search{
   		padding-bottom: 0px;
	}

	.modal-dialog{
		margin: 0px;
	}

	.results{
		padding-top: 15px;
	}

}